<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('spec')
    ->exclude('vendor')
    ->exclude('database/migrations')
    ->exclude('storage')
    ->exclude('config')
    ->exclude('bootstrap/cache')
    ->in(__DIR__);

$config = PhpCsFixer\Config::create()
    ->setRules([
        '@PHP80Migration' => true,
        '@PhpCsFixer' => true,
        '@Symfony' => true,
        'phpdoc_to_comment' => false,
        'phpdoc_no_empty_return' => false,
    ])
    ->setFinder($finder)
;

return $config;
