html, body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    color: #fff;
}

.jumbotron {
    background: #000;
}

.jumbotron__danger {
    background: #000;
}

.jumbotron__success {
    background: #000;
}

.jumbotron__failed {
    background-color: #17b308;
    background-image: linear-gradient(160deg, #17b308 0%, #80D0C7 100%);
}

h1 {
    color: #fff !important;
}

pre {
    font-size: 16px;
}

input, textarea {
    color: #000;
}

.vertical-center {
    align-items: center;
    display: flex;
    min-height: 100%;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
